/*NAV BAR*/
*{
margin:0px;
padding: 0px;
box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 8vh;
    background-color: #a0e4b1;
    font-family: 'Oswald', sans-serif;
}
.logo{
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
}

#navBar {
    padding-top: 20px;
    padding-bottom: 20px;
}
#logo {
    width: 500px;
    padding-top: 30px;
    }
body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}
#logo {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
}

header img {
    width: 250px;
}

h1 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
}