
body{
    display: flex;
    flex-direction:column;
    align-items: center;
    font-family: Oswald;
}


/* Title */
.heading_title{
    display:inline;
}

#title_image{
    width : 10vw;
    height : 10vw;
}

#central_text{
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 4vw;
}

#background_box{
    background-color: #C6E3F6;
    width: 90vw;
    height: 10vw;
    font-size: 3vw;
    margin-top: 8vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}


/* nav bar */
nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 6vh;
    background-color: #C6E3F6;
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    margin-bottom: 25px;
    margin-top: 0;
}
.logo{
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
}



/* cook  */

#buttonContainer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;

}

.row {
    padding-top: 2vw;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titleImage {
    width: 4vw;
}

#foodText{
    font-size: 2.5vw;
    color: black;
    text-decoration: none;
}

#recipeButton {
    background-color: #C6E3F6;
    border-radius: 1vw;
    float: left;
    font-size: 3vw;
    width: 28vw;
    margin-right: 2vw;
    margin-left:2vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#foodPhoto{
    width: 20vw;
    height: 20vw;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

#recipeButton:hover {
    background-color: #8DBDDD;
}
