*{
margin:0px;
padding: 0px;
box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    min-height: 8vh;
    background-color: #A1E4B1;
    font-family: 'Oswald', sans-serif;
}
.logo{
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20px;
}

#navBar {
    padding-top: 20px;
    padding-bottom: 20px;
}
#logo {
    width: 500px;
    padding-top: 30px;
    }
body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

#container {
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#profilepic {
    width: 300px;
    border-radius: 50%;
    float:left;
    margin-left: 150px;
    margin-top: 40px;
    }
#profile {
    float:left;
}

#summary {
    float:left;
    margin-left: 100px;
    font-size: 30px;
}

.following {
    float: left;
    margin-left: 100px;
    margin-top:40px;
    font-size: 30px;
    margin-right: 50px;
    font-size: 20px;
    text-align: justify;
    background-color: #FAE1FF;
    padding: 10px;
    border-radius: 10px;
}

.buttons {
    margin-bottom: 10px;
    border-radius: 10px;
    padding:10px;
    color: black;
}

#meditateButton {
background-color: #A1E4B1;
}

#meditateButton:hover {
    background-color: #71B882;
}

#createButton {
    background-color: #A1E4B1;
}

#createButton:hover {
    background-color: #71B882;
}

#cookButton {
    background-color: #FAE1FF;
}

#cookButton:hover {
    background-color: #E3A9EF;
}

#natureButton {
    background-color: #C6E3F6;
}

#natureButton:hover {
    background-color: #8DBDDD;
}

#readButton {
    background-color: #C6E3F6;
}

#readButton:hover {
    background-color: #8DBDDD;
}

    a {
    text-decoration: none;
}




.clearfloat {
    clear: both;
}

p {
    margin-left:180px;
    font-size: 60px;
    text-align: left;
    }