<!-- {% extends "layout.html" %}
{% block content %} -->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Contact Us | ReVidalize </title>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
	<link rel="stylesheet" href="static/css/contact.css">

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon_io/favicon-16x16.png">
	<link rel="manifest" href="static/images/favicon_io/site.webmanifest">
</head>


<body>

	<!-- NAV BAR -->
	<nav>
		<div id="navBar">
            <a class="logo">GET READY TO REVIDALIZE</a>
            <strong>
                <nauv>
                    <u1 class="nav-links">
                        <li><a href="{{ url_for('home')}}">Home</a></li>
                        <li><a href="{{ url_for('about')}}">About</a></li>
                        <li><a href="{{ url_for('contact')}}">Contact</a></li>
                        <li ><a href="{{ url_for('profile')}}">Profile</a></li>

                    </u1>
                </nauv>
            </strong>
        </div>
    </nav>
    <!-- END OF NAV BAR -->
	<header>
	    <img id="logo" src="../../static/images/logo.png" alt="revidalize logo">
    </header>

	<form action="{{ url_for('confirmation')}}">
		<div id="whole">

			<div id="header">
				<h1>Contact Us: </h1>
			</div> <!--end of #header-->

			<div id="formSection">
				<div id="nameSection" class="form">

					<div id="name" class="left">
						<label for="nameid" style="font-size: 40px">Name:</label>
					</div>

					<div id="nameid" class="left">
						<input class="left" type="text" style="height: 30px; margin-left: 20px;width: 200px; margin-left: 20px; font-family:'Oswald', sans-serif;" placeholder="Name">
					</div>
				</div> <!-- end of #name -->

				<div class="clearfloat"></div>

				<div id="emailSection" class="form">

					<div class="left" id="email" >
						<label for="emailid" style="font-size: 40px">Email:</label>
					</div>

					<div id="emailid" class="left">
						<input class="left"  type="text" style="height: 30px; width: 200px; margin-left: 20px; font-family:'Oswald', sans-serif;" placeholder="yourname@email.com">
					</div>
				</div> <!-- end of #email -->

				<div class="clearfloat"></div>

				<div id="messageform" class="form">
					<div class="form">
						<label for="message" style="font-size: 30px">Please type your message below, and our team will get back to you as soon as possible!</label>
					</div>

						<textarea id="message" placeholder="  Your message" style="height:200px; width:400px; padding-left: 10px; font-family: 'Oswald', sans-serif; font-size: 18px"></textarea>
				</div><!-- end of #messageform-->

				<div class="form">
					<button type="submit">Submit</button>
					<button type="reset">Clear</button>
				</div>
			</div>

		</div> <!-- end of #whole-->
	</form>

<!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "6190f6720f9c6a000723cc77";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of ChatBot code -->

</body>
</html>
<!-- {% endblock %} -->