<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Cook </title>
    <link rel="stylesheet" href="static/css/cook.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicon_io/site.webmanifest">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
</head>

<body> 
    <nav>

        <div class="container">
            <h1 class="logo">GET READY TO REVIDALIZE</h1>
            <strong>
                <nauv>
                    <u1 class="nav-links">
                        <li><a href="{{ url_for('home')}}">Home</a></li>
                        <li><a href="{{ url_for('about')}}">About</a></li>
                        <li><a href="{{ url_for('contact')}}">Contact</a></li>
                        <li ><a href="{{ url_for('profile')}}">Profile</a></li>

                    </u1>
                </nauv>
            </strong>
        </div>
    </nav>
    
    
    
    <div style="display:flex">
        <img src="static/images/cook.png" alt="An icon of a bowl of food" id="title_image">
        <h1 id="central_text"> Cook </h1>
        <img src="static/images/cook.png" alt="An icon of a bow of food" id="title_image">
    </div>
    <div id="background_box">
        <p> We recommend: {{recommendation}} </p>
    </div>

<!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "6190f6720f9c6a000723cc77";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of ChatBot code -->

    <div id="container">

        <div id="buttonContainer">
            <div class="row">
                <a href="https://www.delish.com/cooking/recipe-ideas/a37612604/classic-shrimp-scampi-recipe/">
                <div id="recipeButton" >
                        <p id="foodText"> Shrimp scampi </p>
                        <img src="static/images/shrimp.png" id="foodPhoto" alt="Photo of shrimp scampi">  
                </div>
                </a>

                <a href="https://www.delish.com/cooking/recipe-ideas/a21581186/slow-cooker-chili-recipe/">
                <div id="recipeButton">
                    <p id="foodText"> Slow cooker chili </p>
                    <img src="static/images/chili.png" id="foodPhoto" alt="Photo of chili">
                </div>
                </a>
                
                <a  href="https://www.delish.com/cooking/recipe-ideas/a26143952/classic-turkey-meatballs-recipe">
                <div id="recipeButton">
                    <p id="foodText"> Garlic butter turkey meatballs </p>
                    <img src="static/images/meatballs.png" id="foodPhoto" alt="Photo of meatballs">
                </div>
                </a>
            </div>

            <div class="row">
                <a href="https://www.delish.com/cooking/recipe-ideas/a27925656/mandarin-orange-salad-recipe/">
                <div id="recipeButton">
                    <p id="foodText"> Mandarin orange salad </p>
                    <img src="static/images/salad.png" id="foodPhoto" alt="Photo of orange salad">
                </div>
                </a>
            
                <a href="https://www.delish.com/cooking/recipe-ideas/a25361409/easy-ham-steak-recipe/">
                <div id="recipeButton">
                    <p id="foodText"> Maple glazed ham steak </p>
                    <img src="static/images/ham.png" id="foodPhoto" alt="Photo of ham steak">
                </div>
                </a>

                <a href="https://www.delish.com/cooking/recipe-ideas/a29167467/turkey-pot-pie-recipe/">
                <div id="recipeButton">
                    <p id="foodText"> Turkey pot pie </p>
                    <img src="static/images/pie.png" id="foodPhoto" alt="Photo of turkey pot pie">
                </div>
                </a>
            </div>

        </div> <!--end of #buttonContainer-->
</body>
</html>