<!-- {% extends "layout.html" %}
{% block content %} -->

<!--<div class="home">-->
<!--<h1>Home page</h1>-->
<!--<h1>Ctrl Intelligence team project</h1>-->
<!--<p>This is the team project</p>-->
<!--</div>-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" name="meditate" content="Disconnect and Reconnect with ReVidalize">
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
	<title>Home | ReVidalize</title>
	<link rel="stylesheet" href="static/css/home.css">

	<!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/images/favicon_io/site.webmanifest">


</head>
	<body>
		<!-- NAV BAR -->
		<nav>
			<div id="navBar">
	            <a class="logo">GET READY TO REVIDALIZE</a>
	            <strong>
	                <nauv>
	                    <u1 class="nav-links">
							<li><a href="{{ url_for('home')}}">Home</a></li>
							<li><a href="{{ url_for('about')}}">About</a></li>
							<li><a href="{{ url_for('contact')}}">Contact</a></li>
							<li ><a href="{{ url_for('profile')}}">Profile</a></li>

	                    </u1>
	                </nauv>
	            </strong>
	        </div>
	    </nav>
	    <!-- END OF NAV BAR -->
		<header>
			<img id="logo" src="../../static/images/logo.png" alt="revidalize logo">
		</header>

	    <div id="container">
			<h2 id="welcomeMessage">How would you like to ReVidalize today?</h2>

			<div id="buttonContainer">
				<div id="rowOne">

					<div  class="clickButtons">
						<a href="{{ url_for('meditate')}}" class="homeButtons" id="meditateButton"> Meditate
							<img src="../static/images/meditate.png" alt="An icon of a person meditating" class="titleImage">
						</a>
					</div>

					<div  class="clickButtons">
						<a href="cook.html" class="homeButtons" id="cookButton"> Cook
							<img src="../static/images/cook.png" alt="An icon of a person meditating" class="titleImage">
						</a>
					</div>

					<div class="clickButtons">
						<a href="read.html" class="homeButtons" id="readButton"> Read
							<img src="../static/images/book.png" alt="An icon of a book" class="titleImage">
						</a>
					</div>

				</div> <!-- end of #rowOne -->

				<div class="clearfloat"></div>

				<div id="rowTwo">

					<div class="clickButtons">
						<a href="{{ url_for('create')}}" href="nature.html" class="homeButtons" id="createButton"> Create
							<img src="../static/images/art.png" alt="An icon of a paint pallete and brush" class="titleImage">
						</a>
					</div>

					<div  class="clickButtons">
						<a href="nature.html" class="homeButtons" id="natureButton"> Nature
							<img src="../static/images/leaf.png" alt="An icon of a leaf" class="titleImage" id="leafimg">
						</a>
					</div>

					<div  class="clickButtons">
						<a href="random.html" class="homeButtons" id="randomButton"> Random
							<img src="../static/images/star.png" alt="An icon of a star" class="titleImage">
						</a>
					</div>
				</div> <!-- end of #rowTwo-->
				<div class="clearfloat"></div>

			</div> <!--end of #buttonContainer-->
		</div>


	</body>
</html>

<!-- {% endblock %} -->