<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | ReVidalize</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
	<link rel="stylesheet" href="static/css/profile.css">


	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="static/images/favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon_io/favicon-16x16.png">
	<link rel="manifest" href="static/images/favicon_io/site.webmanifest">
        
</head>
<body>
	<!-- nav bar -->
	<nav>
		<div id="navBar">
			<a class="logo">GET READY TO REVIDALIZE</a>
			<strong>
				<nauv>
					<u1 class="nav-links">
						<li><a href="{{ url_for('home')}}">Home</a></li>
						<li><a href="{{ url_for('about')}}">About</a></li>
						<li><a href="{{ url_for('contact')}}">Contact</a></li>
						<li ><a href="{{ url_for('profile')}}">Profile</a></li>

					</u1>
				</nauv>
			</strong>
		</div>
	</nav>
	<!-- END OF NAV BAR -->
	<header>
		<img id="logo" src="../../static/images/logo.png" alt="revidalize logo">
	</header>
	<div id="container">
		<div id="profile">
			<img id="profilepic" src="../static/images/profile.png">
			<p>Jane Smith</p>
		</div>

		<div id="summary">
			<div class="buttons" >
				<strong>This week's summary:</strong>
			</div>
			<a href="{{ url_for('meditate')}}">
				<div class="buttons" id="meditateButton">
						Meditating: 2.4 hr
				</div>
			</a>
			<a href="{{ url_for('cook')}}">
				<div class="buttons" id="cookButton">
					Cooking: 6.7 hr
				</div>
			</a>
			<a href="{{ url_for('read')}}" >
				<div class="buttons" id="readButton">
					Reading: 4.3 hr
				</div>
			</a>
			<a href="{{ url_for('create')}}">
				<div class="buttons" id="createButton">
					Creating: 1.2 hr
				</div>
			</a>
			<a href="{{ url_for('nature')}}">
				<div class="buttons" id="natureButton">
					Exploring nature: 3.4 hr
				</div>
			</a>
			<div class="buttons" >
				<strong>Total off-screen time: 18 hr</strong>
			</div>
		</div>

		<div class="following">
			For you:
			<div>
				Invitations: 2
			</div>

			<div>
				Pending invites: 3
			</div>

			<div>
				Saved lists: 4
			</div>
		</div>

		<div class="clearfloat"></div>

	</div>

<!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "6190f6720f9c6a000723cc77";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<!-- End of ChatBot code -->

</body>
</html>